.filter-container {
  display: flex;
  justify-content: space-between;
}
.filter {
  margin: 20px;
}
.filter-title {
  margin: 20px;
  text-align: center;
}
/* .products-list {
  display: flex;
} */
.select {
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}
.text {
  margin-right: 20px;
}
@media only screen and (max-width:500px){
  .filter{
    display: flex;
  }
  .select{
    padding: 0px;
    margin-right: 5px;
  }
}