.categories-container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
@media only screen and (max-width: 500px){
  .categories-container{
    flex-direction: column;
    
  }
}
